<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>

<div th:replace="~{fragments :: navbar}"></div>

<div class="container">

    <form th:action="@{/cars}" th:object="${carDTO}" method="post">

        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required>
        </div>

        <div class="mb-3">
            <label for="color" class="form-label">Cor</label>
            <input type="text" class="form-control" id="color" th:field="*{color}" required>
        </div>

        <button type="submit" class="btn btn-primary">Salvar Carro</button>
    </form>

</div>

<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>