<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">CarStore</a>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">

        <div class="col-md-4 mb-4" th:each="car : ${cars}">
            <div class="card">
                <img th:src="@{'/img/' + ${car.name}+'.png'}" class="card-img-top" th:alt="${car.name}">
                <div class="card-body text-center">
                    <h5 class="card-title" th:text="${car.name}"></h5>
                    <p class="card-text" th:text="'Cor: ' + ${car.color}"></p>
                    <div class="card-footer text-center">
                        <a th:href="@{'/cars/' + ${car.id}}" class="btn btn-primary w-75">ver mais</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
